body {
  font-family: "Source Serif Pro", serif;
  background-color: antiquewhite;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.business,
.agent {
  max-width: 50%;
  border-bottom: 2px black solid;
}

#companySearch,
#agentFirstNameSearch {
  height: 2rem;
  width: 40%;
  margin: 0.5rem 0rem;
  background-color: antiquewhite;
}
