body {
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.business,
.agent {
  max-width: 50%;
  border-bottom: 2px black solid;
}
